<!DOCTYPE html>
<html>
  <head>
    <link href="<%= url('stylesheet.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>


<h1>Welcome to guessing game</h1>

<p>Guess the number</p>

<form action="/number_guess" method="post">
  <input type="number" name="number">
  <input type="submit">
</form>

</body>
</html>
