<h1>Welcome to guessing game</h1>

<p>your number is too high</p>

<form action="/number_guess" method="post">
  <input type="number" name="number">
  <input type="submit">
</form>

<h2>your score is <%= @score %></h2>
